@model IEnumerable<Stripe.Models.SP_GET_ALL_EVENTS_Result>

@{
    ViewBag.Title = "AllEvents";
    Layout = "~/Views/Shared/_RefereeLayout.cshtml";
}

<h2>AllEvents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.event_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_School_Field_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spt_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.event_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_School_Field_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spt_Name)
            </td>
            <td>
                @if (@item.event_Completion != "Y")
                {
                    @Html.ActionLink("Apply for Event", "Apply", new { eventId = @item.event_ID })
                }
            </td>
        </tr>
    }
</table>
