@model Stripe.Models.User_Profile

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User_Profile</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.userProfile_ID)

       

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_First_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_First_Name)
                @Html.ValidationMessageFor(model => model.userProfile_First_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Last_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Last_Name)
                @Html.ValidationMessageFor(model => model.userProfile_Last_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Type)
                @Html.ValidationMessageFor(model => model.userProfile_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Email)
                @Html.ValidationMessageFor(model => model.userProfile_Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Phone)
                @Html.ValidationMessageFor(model => model.userProfile_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Street, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Street)
                @Html.ValidationMessageFor(model => model.userProfile_Street)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_City)
                @Html.ValidationMessageFor(model => model.userProfile_City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_State)
                @Html.ValidationMessageFor(model => model.userProfile_State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Zip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Zip)
                @Html.ValidationMessageFor(model => model.userProfile_Zip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Photo)
                @Html.ValidationMessageFor(model => model.userProfile_Photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userProfile_Background_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userProfile_Background_Description)
                @Html.ValidationMessageFor(model => model.userProfile_Background_Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
